    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 2em;
        color: black;
        border-radius: 25px;
        border-color: red;
        
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    #catagory{
        border-color: red;
    }
    
    
    input[type=text]:focus {
    background-color: #fffa7a;
    border-color: red;
    }
    
    #layout{
        display:inline-block; 
        color:black; 
        text-align:left; 
        background-color:white; 
        padding:10px; 
        border-radius:10px;
        
        border-color: red;
    }

#submit{
    background-color: #e8f0ff;
    
}