header{
    font-family: 'Emblema One', cursive;
    text-align: center;
    color: red;
}

body{
    background-image: url("garage.jpg");
}


form{
    text-align: center;
    margin: auto;
}

#instructions{
    color: red;
    
    border: none;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name{
    color: red;
}

#submitButton{
    color: white;
    background-color: #f44336;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 28px;
}

#submitButton :active {
  background-color: #f44336;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  padding: 12px 28px;
  
}

#results{
    color: red;
    font-size: 20px;
    text-align: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    

}

radio,label{
    vertical-align: middle;
    text-align: justify;
}

#returnButton{
    color: white;
    background-color: #f44336;
    font-size: 16px;
    border-radius: 8px;
}

#returnButton :active {
  background-color: #f44336;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

img{
    max-width: 100%;
    height: auto;
}